@media only screen and (min-width: 64em ) {
    
  .hamburger {display: none; }
  
main ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1em;
  list-style-type: none; 
  box-sizing: border-box;
  padding: 1em;
  grid-column-gap: 1em;
  grid-row-gap:1em;
}

main ul li:hover{
  border: .05em solid;
  border-radius: 15px;
  background: #ccc;
  padding: .05em;
  box-shadow: 3px 3px 3px #bbb;
}
  
  /*needs to have a border when box is hovered over*/
  main ul li img:hover{
    box-shadow: 3px 3px 3px #bbb;
  }  
  
}