@media only screen and (min-width: 64em ) {
    
  .hamburger {display: none; }
  
  .home-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
  }
  
  .weatherstory {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
}