/*--------------------all----------------*/
* { box-sizing: border-box;}  

body {
  font-size: 1em;
  font-family: 'Playfair Display', serif;
 
}

header, nav, main, footer { 
  max-width: 60em;
  margin: 0 auto;
}

main h2 {
  font-family: 'Paytone One', sans-serif;
  color: #0376ff;
}

main h3 {
  font-family: 'Paytone One', sans-serif;
  color: #0376ff;
}
/*---------------------------------------*/


/*----------------header---------------*/
header {
  display: flex;
  background-color: #03e8ab;
  flex-flow: column;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

header h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 10px;
}

header img {
  flex: 0 1 128px;
  text-align: center;
  width: 100px;
  height: auto;
  margin-right: 10px;
}

header .subheading {
  font-family: 'Paytone One', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
}
/*----------------------------------------------*/

 
/*----------------------header nav ALL----------------------*/
.hamburger {
  display: inline-flex; 
  top: 2.0rem;
  right: 1.25rem;
}

.navigation {
  font-family: 'Paytone One', sans-serif;
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}

.navigation li {
  display: none;
}

.navigation li a {
  padding: 1.15rem;
  display: inline-flex;
  width:100%;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: #03a8e8;
}

.navigation li a:hover {
  background-color: #10fbff;
  color: #03a8e8;
}

.navigation.responsive { 
  position: relative; 
}
    
.navigation.responsive li { 
  background-color: #eee; 
  display: block; 
  width: 100%; 
}
    
.navigation.responsive li a {   
  padding: .75rem; 
  }
    
.navigation.responsive li a:hover { 
  background-color: #10fbff;
  color: #03a8e8;
}

.navigation.responsive li.active a {
      color: #10fbff;
      border: .05px solid;
}
/*------------------------------------------*/


/*--------------------footer ALL PAGES---------------------*/
footer {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  clear: both;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

footer address {
  background-color: #03a8e8;
  clear: both;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

footer address p{
  margin: 0.2em;
}

footer.contact ul li{
  align-content: center;
  justify-content: center;
}

.footer-bar{
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #03e8ab;
}
/*--------------------------------------*/


/*---------------------cities------------------*/
.town-article { 
  padding: 5px;
}

main figure img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  align-content: center;
}

main article{
   padding:.25rem;  
   text-align: center;  
}

main article img{
  width: 85%;
  height: auto;
}

.title {
  font-family: 'Paytone One', sans-serif;
}

.subheading {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-summary {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-summary h3 {
  text-align: center;
}

.current {
  font-size: 1.5rem;
}

.current p {
  text-align: center;
}

.current picture img {
  margin: 0;
}

.highlow{
  text-align: center;
}

.conditions{
  text-align: center;
}

.forecast {
  display: none;
}
/*---------------------------------------------*/

 
/*--------------------form-------------------------*/
form fieldset {
  margin: 2rem;
  border: 5px solid #0376ff;
  padding: .5rem 5%;
}

form legend {
  color: #0376ff;
  margin: 0;
  padding: 0 .5rem;
  font-family: 'Paytone One', sans-serif;
  font-size: 1.3rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: black;
  font-size: .9rem;
}

form label.top input, form label.top textarea, form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px lightgrey;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: black;
  font-size: .85rem;
}

form input.submitBtn {
  border: none;
  background-color: #03e8ab;
  color: white;
  border-radius: 10px;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 9%;
  width: 96%;
  max-width: 20rem;
  font-family: 'Paytone One', sans-serif;
  font-size: 1.5rem;
}

form label.top input:required {
  border-left: #10fbff solid 6px;
}

form label.top input:required:valid {
  border-left: #03e8ab solid 6px;
}

.storm {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 1rem;
}
/*--------------------------------------------------------------*/


/*-----------------------Gallery----------------------*/
.gallery-grid{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .05em;
  justify-content: center;
  align-content: center;
}

.gallery-grid figure {
  margin: 10px;
  border:  solid .05em;
  padding: 1em;
}

.gallery-grid figure img{
  width:100%;
  height: auto;
}

.gallery-grid figcaption{
  margin-top: 1em;
  font-size: 1rem;
}
/*---------------------------------------------------*/


/*-------------Index---------------*/
.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .05em;
  justify-content: center;
}

.home-grid section {
  margin: 10px;
  border: .05px solid;
  padding: 1em;
}

.home-grid section img {
  width:100%;
  height: auto;
}

.home-grid section p {
  font-size: 1rem;
}
/*-----------------------------*/

/*------------Thank you------------*/
.thankyou {
  text-align: center;
}
/*----------------------*/