@media only screen and (min-width: 37.5em) {

    section.forecast { display: inline-block; }  
  
  /*--------------------Nav---------------*/
    nav {
      font-family: 'Paytone One', sans-serif;
      background-color: #03a8e8;
      text-align: center;
     }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 10px;
      overflow: hidden;
     }
  
    .navigation li {
      display: inline-flex;
     }
  
    .navigation ul li a {
      color: #fff;
      text-align: center;
      padding: .75rem;
      text-decoration: none;
     }

     li.active a {
      color: #10fbff;
      border: .05px solid;
     }

    .navigation ul li a:hover {
      background-color: #10fbff;
      color: #03a8e8;
     }
  
    .responsive {
      display:inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
     }
  
    .hamburger {
      display: none; 
     }
  /*-----------------------------------------------*/
  
  
  /*----------------City pages-----------------------------*/
    
  
    img.town-article {
      width: 350px;
      float: right;
      margin: 7px;
      box-shadow: 3px 3px 3px #bbb;
     }
  
    table{
      border: 0;
      padding-left: 4.75%;
     }
  
    th, td {
      padding: 1rem;
       border: .05rem solid;
     }
  
    .forecast {
      display: flex;
      width: 875px;
      margin:0;
      padding: 10px;
      box-shadow: 3px 3px 3px #bbb;
      border: .1rem solid;  
     }
  
    .forecast h3{
      text-align: center;
      font-size: 1.5rem;
      margin: 5px;
     }
  /*-------------------------------------------*/
  
  /*--------Gallery-------------*/
      .gallery-grid {
        grid-template-columns: 1fr 1fr;
        grid-gap: .05em;
      } 
  
  
  /*-----------------------------*/
  
  /*-----------------Index----------------*/
    .cities {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: center;
      align-content: center;
    }
    article h3{
    font-size: 1.8em;
    }
  /*---------------------------------------*/
  
  }