/*--------------------all----------------*/
* { box-sizing: border-box;}  

body {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  color: #2a2e2e;
  background-color: #fff;
}

header, nav, main, footer { 
  max-width: 70em;
  margin: 0 auto;
}

main h2 {
  font-family: 'Chonburi', cursive;
  color: #cd4e47;
  text-align: center;
  font-size: 1.8rem;
}

main h3 {
  font-family: 'Chonburi', cursive;
  color: #cd4e47;
  margin: 0em;
}

main h4 {
  font-family:'Open Sans', sans-serif;
  color: #cd4e47;
}
/*---------------------------------------*/


/*----------------header---------------*/
header {
  display: flex;
  background-color: #fff;
  flex-flow: column;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

header h1 {
  font-family: 'Chonburi', cursive;
  font-size: 2.5rem;
  text-align: center;
  margin: 10px;
}

header img {
  flex: 0 1 128px;
  text-align: center;
  width: 128px;
  height: auto;
  margin-right: 10px;
}

.title {
  font-family: 'Chonburi', cursive;
  color: #3c70a4;    
}

.subheading {
  display: none;
}
/*----------------------------------------------*/

 
/*----------------------header nav ALL----------------------*/
.hamburger {
  display: inline-flex; 
  position: absolute;
  top: 2.0rem;
  right: 1rem;
}

.navigation {
  font-family: 'Chonburi', cursive;
  list-style: none;
  padding-left: 0;
  overflow: hidden;
}

.navigation li {
  display: none;
}

.navigation li a {
  padding: 1.15rem;
  display: inline-flex;
  width:100%;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  background-color: #cd4e47;
}

.navigation li a:hover {
  background-color: #d2d4d0;
  color: #cd4e47;
}

.navigation.responsive { 
  position: relative; 
}
    
.navigation.responsive li { 
  background-color: #fff; 
  display: block; 
  width: 100%; 
}
    
.navigation.responsive li a {   
  padding: .75rem; 
  }
    
.navigation.responsive li a:hover { 
  background-color: #d2d4d0;
  color: #cd4e47;
}

.navigation.responsive li.active a {
      color: #fff;
      border: .05px solid;
}
/*------------------------------------------*/


/*--------------------footer ALL PAGES---------------------*/
footer {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 1rem;
  clear: both;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

footer {
  background-color: #cd4e47;
  color: #2a2e2e;
  clear: both;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}

footer p{
  margin: 0.2em;
}

footer.contact ul li{
  align-content: center;
  justify-content: center;
}

.footer-bar{
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #cd4e47;
  color: #fff;
}

.footer-bar a{
  color: #fff;
}
/*--------------------------------------*/

/*-------------Index Page---------------*/
.home-grid, .home-grid figure {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .05em;
  justify-content: center;
}

.home-grid figure{
  margin: 0;
}

.home-grid section {
  margin: 5px;
  border: 3px solid #3c70a4;
  padding: .5em;
}

.home-grid section img {
  width:100%;
  height: auto;
  box-shadow: 3px 3px 3px #bbb;
}

.home-grid section p {
  font-size: 1rem;
}

article.pages h3, section.mainimg h3{
  text-align: left;
  font-size: 2em;
}

.pages div{
  padding: .5rem;
}

.mainp{
  text-align: center;
  color: #3c70a4;
}
/*-----------------------------*/

/*---------Events----------------------*/
.event-grid, .event-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .05em;
  justify-content: center;
}

.event-grid section {
  margin: 5px;
  border: 3px solid #3c70a4;
  padding: .5em;
}

.event-grid section img {
  width:100%;
  height: auto;
  box-shadow: 3px 3px 3px #bbb;
}

.event-grid section p {
  font-size: 1rem;
}

section.mainimg h3{
  text-align: left;
  font-size: 2em;
}

.pages div{
  padding: .5rem;
}

.mainp{
  text-align: center;
  color: #3c70a4;
}

.event-info img{
  margin-top: 5px;
}
/*-------------------------------------*/

/*-----------Contacts---------------*/
.contactinfo {
  margin: 10px;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap:.05em;
  justify-content: center;
}

 iframe { 
  width:100%;
  box-shadow: 3px 3px 3px #bbb;
}

  div.info {
    margin: 1rem;
    text-align: center  
  }

/*------------Forms--------------------------------*/
form fieldset {
  margin: .5rem;
  border: 3px solid #3c70a4;
  padding: .5rem 5%;
}

form legend {
  color: #cd4e47;
  margin: 0;
  padding: 0 .5rem;
  font-family: 'Chonburi', cursive;
  font-size: 1.3rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #2a2e2e;
  font-size: .9rem;
}

form label.sbs {
  display: block;
  padding: .75em 0;
  color: #2a2e2e;
  font-size: .85rem;
}

form label.top input, form label.top textarea, form label.top select {
  display: block;
  font-size: 1rem;
  border: solid 1px #d2d4d0;
  border-radius: 4px;
  padding: .75rem;
  color: #2a2e2e;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0,0,0,0.1);
}

form input.submitBtn {
  border: none;
  background-color: #3c70a4;
  color: #fff;
  border-radius: 5px;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 9%;
  align-content: center;
  justify-content: center;
  max-width: 20rem;
  font-family: 'Chonburi', cursive;
  font-size: 1.3rem;
}

form label.top input:required {
  border-left: #cd4e47 solid 6px;
}

form label.top input:required:valid {
  border-left: #3c70a4 solid 6px;
}

/*-------------------------------------------*/

/*--------Thanks------*/
.thankyou {
  display:grid;
  grid-template-columns: 1fr;  
  text-align: center;
  margin-bottom: 4rem;
  border: 3px solid #3c70a4;
  margin: 10px;
  padding: 1em;
}
/*--------------------*/

/*-------------Sales------------------*/
/* Main accordion css */
#accordion {
    margin: auto; 
    display: block; 
}

/* This controls the text inside the div, you can play with this by adding background-color, border, etc. */
#accordion div {
    padding: 10px;
    display: grid;
    overflow: auto;
    grid-template-columns: 1fr;
}

#accordion ul {
  list-style-type: none;
  margin:0;
}

#accordion img{
  width: 100%;
  margin-right: 10px; 
}


/* This controls the header */
#accordion h3 {
    display: block;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    padding: 8px 11px;
    font-family: 'Chonburi', cursive;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 5px;
}

#accordion div p {
  margin-top: 0;
}

.blue h3 {
    background: #3c70a4;  
    color: #fff; 
}

/*--------------------------------------------------*/

