@media only screen and (min-width: 64em ) {
    
  main article img{
    width: 500px;
    float: right;
    margin: 7px;
    box-shadow: 3px 3px 3px #bbb;
  }
  main figure img {
    width: 500px;
    margin: 15px;
  }
  .forecast {
    width: 950px;
    padding: 5px;
  }
  table{
      border: 0;
      padding-left: 9%;
      padding-bottom: 10px;
     }
}