
* { box-sizing: border-box;}  

body {
  font-size: 16px;
  font-family: 'Playfair Display', serif;
 
}

header, nav, main, footer { 
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  background-color: #03e8ab;
  flex-flow: column;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
}

header h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  margin: 10px;
}

header img {
  flex: 0 1 128px;
  text-align: center;
  width: 100px;
  height: auto;
  margin-right: 10px;
}

header .subheading {
  font-family: 'Paytone One', sans-serif;
  font-style: italic;
  font-size: 1.5rem;
}

nav {
  font-family: 'Paytone One', sans-serif;
  background-color: #03a8e8;
  text-align: center;
}

nav button {}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

nav ul li {
  display: block;
  padding-right: 40px;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: .75rem;
  text-decoration: none;
}

nav ul li.active a {}

nav ul li a:hover {
  background-color: #10fbff;
  color: #03a8e8;
}

main {}

main h2 {
  font-family: 'Paytone One', sans-serif;
  color: #0376ff;
  text-align: center;
}

main content {
  align-content: center;
}

main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main figure {
}

main figure img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  align-content: center;
}

main article{
   padding:.25rem;  
   text-align: center;  
}

main article img{
  width: 85%;
  height: auto;
}

main h3 {
  font-family: 'Paytone One', sans-serif;
  color: #0376ff;
}

footer {
  font-family: 'Paytone One', sans-serif;
  font-size: 16px;
  clear: both;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

/* class selectors */


.title {
  font-family: 'Paytone One', sans-serif;
}

.subheading {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-summary {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-summary h3 {
  text-align: center;
}

.current {
  font-size: 1.5rem;
}

.current p {
  text-align: center;
}

.current picture img {
  margin: 0;
}

.highlow{
  text-align: center;
}

.conditions{
  text-align: center;
}

.forecast {
  display: none;
}

.contact {
  background-color: #03a8e8;
  clear: both;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.footer-bar{
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #03e8ab;
}

.town-article {
  padding: 5px;
}
