@media only screen and (min-width: 64em ) {
    
  .hamburger {display: none; }
  
  main article img{
    width: 500px;
    float: right;
    margin: 7px;
    box-shadow: 3px 3px 3px #bbb;
  }
  main figure img {
    width: 500px;
    margin: 15px;
  }
  .forecast {
    width: 950px;
    padding: 5px;
  }
  table{
      border: 0;
      padding-left: 9%;
      padding-bottom: 10px;
     }
  .home-grid {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
  }
  
  .home-grid section:hover{
    border: .05em solid;
    background: 0;
    padding: .05em;
    box-shadow: 3px 3px 3px #bbb;
  }
  
  /*needs to have a border when box is hovered over*/
  .home-grid img:hover{
    box-shadow: 3px 3px 3px #bbb;
  }  
}